.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* background-image: url('https://happychristmasnewyeargreetings.com/wp-content/uploads/2017/12/Christmas-snow-wallpaper-Q9gJJF7.jpg');
  background-size: cover; */
  background: linear-gradient(
      to top,
      rgba(253, 253, 253, 0) 0%,
      rgba(242, 240, 240, 0.7) 100%
    ),
    url("https://happychristmasnewyeargreetings.com/wp-content/uploads/2017/12/Christmas-snow-wallpaper-Q9gJJF7.jpg");
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
/* .section:nth-child(3) {

  background-image: url(../../assets/images/deer_cut.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
} */
.chum {
  position: absolute;

}
.imgTopRight {
  width: 100%;
}
.image {
  width: 75%;
  object-fit: contain;
  min-width: 220px;
}
.sun {
  position: absolute;
  display: block;
  width: 17vw;
  height: 17vw;
  background-color: rgb(255 176 176);
  border-radius: 50%;
}

.imageBottomDeer {
  width: 15vw;
  height: auto;
  position: relative;
  z-index: 5;
}

.imageBottomTree {
  width: 35vw;
  height: auto;

}
.wrapper {
  /* background: white; */
  width: 65%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  margin-top: 5vh;
}

.wrapper_last {
  /* margin-top: 0; */
  justify-content: flex-end;
  height: 76%;
  gap: 20px;
  /* background-color: blue; */
}
.text {
  font-size: 22px;
  width: 90%;
  z-index: 2;
  margin: 10px;
}
/* .text:first-of-type {
  margin-top: 13vh;
} */
.form {
  width: 100vw;
  height: fit-content;
  margin-top: 5vh;
  position: relative;
  z-index: 15;
}

@media (max-width: 1200px) {
  .sun {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 992px) {
  .imgTopRight {
    width: 80%;
    margin-top: 80px;
  }
  .wrapper_last {
    height: 85%;
    gap: 0;
  }

  .sun {
    width: 30vw;
    height: 30vw;
  }
  .form {
    width: 70vh;
  }
}

@media (max-width: 768px) {
  .imgTopRight {
    width: 80%;
    margin-top: 20px;
  }
  .imageBottomDeer {
    width: 30vw;
   
  }
  
  .imageBottomTree {
    width: 60vw;
   }

  .wrapper_last {
    height: 50%;
    z-index: 6;
    gap: 10px;
  }
  .sun {
    width: 35vw;
    height: 35vw;
  }

  .text {
    font-size: 20px;
    margin: 0;
    /* width: 90%;
    z-index: 2;
    margin: 10px; */
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: 90%;
    height: 55%;
    margin-top: 0;
  }
  .sun {
    width: 40vw;
    height: 40vw;
  }
  .imgTopRight {
    width: 70%;
    margin-top: 40px;
  }
  .text {
    font-size: 16px;
  }

  .imageBottomDeer {
    width: 35vw;
   
  }
  
  .imageBottomTree {
    width: 65vw;
   }
}
