.button {
	width: fit-content;
	display: flex;
	height: 50px;
	background-color: rgb(98, 161, 216);
	/* background-image: url(../../../assets/images/snowflake-forecast-svgrepo-com.svg);
	background-size: 20%; */
	
	border-radius: 10px;
	border: none;
	color: white;
	font-weight: bold;
	/* text-shadow: 5px 5px 5px rgb(255, 255, 255);
	box-shadow: 5px 5px 15px rgb(201 173 173); */
	align-self: center;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	cursor: pointer;
}

/* .button:disabled {
	background-image: url(../../images/9fc30091671ad69c012b184feacbde67.png),
		linear-gradient(45deg, #eee9e9, #eedcdc);
	background-size: contain;
	background-blend-mode: overlay;
	box-shadow: 5px 5px 15px rgb(217, 200, 200);
} */
