.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background: linear-gradient(
        to bottom,
        transparent 65%,
  
        rgba(255, 255, 255, 1)
      ),
      url("https://sportishka.com/uploads/posts/2023-12/1702175870_sportishka-com-p-priroda-yakutii-zimoi-pinterest-2.jpg")
        no-repeat; */
  /* background-size: cover; */
}
.intro_oymyakon {
    background: linear-gradient(
        to bottom,
        transparent 65%,
  
        rgba(255, 255, 255, 1)
      ),
      url("https://sportishka.com/uploads/posts/2023-12/1702175870_sportishka-com-p-priroda-yakutii-zimoi-pinterest-2.jpg")
        no-repeat;
    background-size: cover;
  }

.intro_chum {
  background: linear-gradient(
      to bottom,
      transparent 75%,

      rgba(255, 255, 255, 1)
    ),
    url("https://sportishka.com/uploads/posts/2022-03/1646721567_48-sportishka-com-p-tundra-zimoi-i-letom-turizm-krasivo-foto-54.jpg")
      no-repeat;
  background-size: cover;
  background-position: bottom;
}



.caption {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title {
  font-size: 60px;
  text-align: start;
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
  line-height: 40px;
  text-align: start;
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(253, 253, 253, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://happychristmasnewyeargreetings.com/wp-content/uploads/2017/12/Christmas-snow-wallpaper-Q9gJJF7.jpg");
  overflow: hidden;
}

.content {
  width: 100%;

  height: 70vh;
  margin: 0 auto 50px auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* overflow: hidden; */
}
.content::-webkit-scrollbar {
  display: none;
}
.description {
  width: 100%;
  /* overflow: visible; */
}

.form__wrapper {
  margin: 100px auto 50px auto;
  width: 70%;
}
