@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto&display=swap");

.header {
  height: 50px;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.logo__image {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
.logo__title {
  font-family: "Kablammo", system-ui;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: left;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.logo__title:last-of-type {
  font-size: 44px;
  color: rgb(98, 161, 216);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.link {
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link_default {
  text-shadow: -1px 0 rgb(125, 151, 187), 0 1px rgb(125, 151, 187),
    1px 0 rgb(125, 151, 187), 0 -1px rgb(125, 151, 187);
  color: white;
}

.link_active {
  color: rgb(98, 161, 216);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 1350px) {
  .header {
 
    padding-left: 20px;
  }
  .logo__image {
    width: 120px;
    height: 120px;
  }
  .logo__title {
    font-size: 28px;
  }

  .logo__title:last-of-type {
    font-size: 40px;
  }
  .links {
    gap: 30px;
  }
  .link {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .links {
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
  }

}

@media (max-width: 768px) {
  .header {
   padding: 0 0 0 0;
   width: 100%;
  }

  .logo {
   margin-top:  50px;
  }

}