.wrapper {
  position: relative;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.title {
  font-size: 68px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title_large {
  font-size: 84px;
}

@media (max-width: 768px) {
  .title {
    font-size: 54px;
  }

  .title_large {
    font-size: 68px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 46px;
  }

  .title_large {
    font-size: 60px;
  }
}
